@model NgocHaishop.Data.Entities.Product
@using NgocHaishop.Data.Entities;
@using System.Globalization;
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Product> listSameBrand = ViewBag.SameBrand;
    double avgrate = 0;
    //foreach (var i in listreview) {
    //        avgrate += i.Review_Rate;
    //    }
    //    avgrate = Math.Round(avgrate / listreview.Count(), 0);
    int SameBrandCount = 0;
}
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="left-sidebar">
                <h2>Category</h2>
                <div class="panel-group category-products" id="accordian">
                    <!--category-productsr-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
                                    <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                    Sportswear
                                </a>
                            </h4>
                        </div>
                        <div id="sportswear" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul>
                                    <li><a href="">Nike </a></li>
                                    <li><a href="">Under Armour </a></li>
                                    <li><a href="">Adidas </a></li>
                                    <li><a href="">Puma</a></li>
                                    <li><a href="">ASICS </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordian" href="#mens">
                                    <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                    Mens
                                </a>
                            </h4>
                        </div>
                        <div id="mens" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul>
                                    <li><a href="">Fendi</a></li>
                                    <li><a href="">Guess</a></li>
                                    <li><a href="">Valentino</a></li>
                                    <li><a href="">Dior</a></li>
                                    <li><a href="">Versace</a></li>
                                    <li><a href="">Armani</a></li>
                                    <li><a href="">Prada</a></li>
                                    <li><a href="">Dolce and Gabbana</a></li>
                                    <li><a href="">Chanel</a></li>
                                    <li><a href="">Gucci</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordian" href="#womens">
                                    <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                    Womens
                                </a>
                            </h4>
                        </div>
                        <div id="womens" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul>
                                    <li><a href="">Fendi</a></li>
                                    <li><a href="">Guess</a></li>
                                    <li><a href="">Valentino</a></li>
                                    <li><a href="">Dior</a></li>
                                    <li><a href="">Versace</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a href="#">Kids</a></h4>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a href="#">Fashion</a></h4>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a href="#">Households</a></h4>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a href="#">Interiors</a></h4>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a href="#">Clothing</a></h4>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a href="#">Bags</a></h4>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a href="#">Shoes</a></h4>
                        </div>
                    </div>
                </div><!--/category-products-->

                <div class="brands_products">
                    <!--brands_products-->
                    <h2>Brands</h2>
                    <div class="brands-name">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href=""> <span class="pull-right">(50)</span>Acne</a></li>
                            <li><a href=""> <span class="pull-right">(56)</span>Grüne Erde</a></li>
                            <li><a href=""> <span class="pull-right">(27)</span>Albiro</a></li>
                            <li><a href=""> <span class="pull-right">(32)</span>Ronhill</a></li>
                            <li><a href=""> <span class="pull-right">(5)</span>Oddmolly</a></li>
                            <li><a href=""> <span class="pull-right">(9)</span>Boudestijn</a></li>
                            <li><a href=""> <span class="pull-right">(4)</span>Rösch creative culture</a></li>
                        </ul>
                    </div>
                </div><!--/brands_products-->



                <div class="shipping text-center">
                    <!--shipping-->
                    <img src="~/images/home/shipping.jpg" alt="" />
                </div><!--/shipping-->

            </div>
        </div>

        <div class="col-sm-9 padding-right">
            <div class="product-details">
                <!--product-details-->
                <div class="col-sm-5">
                    <div class="view-product">
                        <img src="~/images/Products/@Model.Pro_Image.Split('$').First()" alt="" id="Pro_Detail_Main_Image" />
                    </div>
                    <div id="similar-product" class="carousel slide" data-ride="carousel">

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                @foreach (var i in Model.Pro_Image.Split('$'))
                                {
                                    <img src="~/images/Products/@i" alt="" height="70px" width="60px" class="Pro_Detail_Image" />


                                }
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-7">
                    <div class="product-information">
                        <!--/product-information-->
                        @*<img src="images/product-details/new.jpg" class="newarrival" alt="" />*@
                        <h2>@Model.Pro_Name</h2>
                        <p>Product ID: @Model.Pro_Id</p>
                        <img src="images/product-details/rating.png" alt="" />
                        <span>
                            <span> @Model.Pro_Price.ToString("C0", new CultureInfo("vi-VN"))</span>
                            <label>Quantity:</label>
                            <input type="text" value="1" id="quantity" />
                            <button type="button" class="btn btn-fefault cart" id="btn_AddToCart" data-id="@Model.Pro_Id">
                                <i class="fa fa-shopping-cart"></i>
                                Add to cart
                            </button>
                        </span>
                        <p><b>Availability:</b> @(Model.Pro_Status == 1?"In Stock":"Out of Stock")</p>
                        <p><b>Brand:</b> @Model.Brand.Brand_Name</p>
                        <p>
                            <b>Rate:</b>
                            @{

                                if ((int)avgrate > 0)
                                {
                                    for (int index = 0; index < 5; index++)
                                    {
                                        if (index < (int)avgrate)
                                        {
                                            <span class="fa fa-star checked" id="rate"></span>
                                        }
                                        else
                                        {
                                            <span class="fa fa-star" id="rate"></span>
                                        }
                                    }
                                }
                                else
                                {
                                    <span>Chưa có đánh giá</span>
                                }
                            }
                        </p>
                    </div><!--/product-information-->
                </div>
            </div><!--/product-details-->

            <div class="category-tab shop-details-tab">
                <!--category-tab-->
                <div class="col-sm-12">
                    <ul class="nav nav-tabs">
                        <li><a href="#details" data-toggle="tab">Details</a></li>
                        <li class="active"><a href="#reviews" data-toggle="tab">Reviews (@*@count*@)</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade" id="details">
                        @Model.Pro_Description
                    </div>
                    <div class="tab-pane fade active in" id="reviews">
                        <div class="col-sm-12" id="LisReview">
                            @*@if (ViewBag.ListReview != null)
                                {
                                    foreach (var i in ViewBag.ListReview)
                                    {
                                        DateTime datetime = DateTime.ParseExact(i.Review_DateTime, "MM/dd/yyyy HH:mm:ss", System.Globalization.CultureInfo.InvariantCulture);
                                        string time = datetime.ToString("hh:mm tt");
                                        string date = datetime.ToString("dd MMMM yyyy", new CultureInfo("vi-VN"));

                                        <ul>
                                            <li><a href=""><i class="fa fa-user"></i>@i.Customers.Cus_Name</a></li>
                                            <li><a href=""><i class="fa fa-clock-o"></i>@time</a></li>
                                            <li><a href=""><i class="fa fa-calendar-o"></i>@date</a></li>
                                            <li>
                                                @{
                                                    for (int index = 0; index < 5; index++)
                                                    {
                                                        if (index < Convert.ToInt32(i.Review_Rate))
                                                        {
                                                            <span class="fa fa-star checked" id="rate"></span>
                                                        }
                                                        else
                                                        {
                                                            <span class="fa fa-star" id="rate"></span>
                                                        }
                                                    }
                                                }
                                            </li>
                                        </ul>
                                        <p>@i.Review_Content</p>

                                    }
                                }
                                else
                                {
                                    <p>No review yet</p>
                                }

                                @if (cus == null)
                                {
                                    <div style="text-align:center;">
                                        <a href="~/Accounts/Login">
                                            <h2 style="color:#FE980F;">Login to post comment</h2>
                                        </a>
                                    </div>
                                }
                                else
                                {
                                    var list = ViewBag.ListReview as List<Reviews>;
                                    if (list.Where(l => l.Review_CustomerId == cus.Cus_Id && l.Review_ProductId == Model.Pro_Id).Count() == 0)
                                    {

                                        <p><b>Write Your Review</b></p>
                                        <form action="/Reviews/Create" method="post">
                                            <input type="hidden" value="@cus.Cus_Id" name="Cus_id" />
                                            <input type="hidden" value="@Model.Pro_Id" name="Pro_id" />
                                            <textarea id="Review_Content" name="Content" required></textarea>
                                            <input type="submit" class="btn btn-default pull-right" value="submit" style="color:white;background-color:#FE980F;" />



                                            <div id="ratelabel"><b i>Rating: </b></div>
                                            <div id="star">
                                                <input class="star star-5" id="star-5" type="radio" name="star" value="5" required />
                                                <label class="star star-5" for="star-5"></label>
                                                <input class="star star-4" id="star-4" type="radio" name="star" value="4" required />
                                                <label class="star star-4" for="star-4"></label>
                                                <input class="star star-3" id="star-3" type="radio" name="star" value="3" required />
                                                <label class="star star-3" for="star-3"></label>
                                                <input class="star star-2" id="star-2" type="radio" name="star" value="2" required />
                                                <label class="star star-2" for="star-2"></label>
                                                <input class="star star-1" id="star-1" type="radio" name="star" value="1" required />
                                                <label class="star star-1" for="star-1"></label>
                                            </div>
                                        </form>
                                    }
                                    else
                                    {
                                        <h2 style="color:#FE980F;">1 comment for each account</h2>
                                    }
                                }*@

                        </div>
                    </div>

                </div>
            </div><!--/category-tab-->

            <div class="recommended_items">
                <!--recommended_items-->
                <h2 class="title text-center">recommended items</h2>

                <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="item active">
                            @*@foreach (var item in ViewBag.SameCategory)
            {
                string imageurl = item.Pro_Image;
                decimal recommendprice = item.Pro_Price;

                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img src="~/images/Products/@imageurl.Split('$').First()" alt="" height="300" />
                                <h2>@recommendprice.ToString("C0", new CultureInfo("vi-VN"))</h2>
                                <p>@item.Pro_Name</p>
                                <a href="/Products/Details/@item.Pro_Id" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            }*@

                        </div>
                        <div class="item active">
                            @for (int i = 0; i <=2; i++)
                            {
                                string SameBrandImg = listSameBrand.ElementAt(i).Pro_Image;
                                decimal SameBrandPrice = listSameBrand.ElementAt(i).Pro_Price;
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="~/images/Products/@SameBrandImg.Split('$').First()" alt="" height="auto" width="268" />
                                                <h2>@SameBrandPrice.ToString("C0", new CultureInfo("vi-VN"))</h2>
                                                <p>@listSameBrand.ElementAt(i).Pro_Name</p>
                                                <a href="/Products/Details/@listSameBrand.ElementAt(i).Pro_Id" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }
                            
                        </div>
                        <div class="item">
                            @for (int i = (listSameBrand.Count)-1; i > 2; i--)
                            {
                             string SameBrandImg = listSameBrand.ElementAt(i).Pro_Image;
                             decimal SameBrandPrice = listSameBrand.ElementAt(i).Pro_Price;    
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="~/images/Products/@SameBrandImg.Split('$').First()" alt=""height="auto" width="268" />
                                                <h2>@SameBrandPrice.ToString("C0", new CultureInfo("vi-VN"))</h2>
                                                <p>@listSameBrand.ElementAt(i).Pro_Name</p>
                                                <a href="/Products/Details/@listSameBrand.ElementAt(i).Pro_Id" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                        </div>
                        <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
            </div><!--/recommended_items-->
        </div>

        <script language="JavaScript" type="text/javascript" src="~/js/jquery-1.10.2.min.js"></script>
        <script language="JavaScript" type="text/javascript">

                        $("#btn_AddToCart").on('click', function (e) {
                            var Pro_price = '';
                            var Pro_id = $(this).data("id");
                            Pro_price += @Model.Pro_Price.ToString();
                            var quantity = $("#quantity").val();
                            $.get('/OrderDetails/AddToCart?id=' + Pro_id + '&quantity=' + quantity + '&Price= ' + Pro_price, function (data) {
                                if ($("#lblCartCount").val() != null) {
                                    $("#lblCartCount").text(parseInt($("#lblCartCount").text()) + parseInt(quantity));

                                } else {
                                    $("#CountCart").append('<span class=\'badge badge-warning\' id=\'lblCartCount\' disabled=\"true\">' + parseInt(quantity) + ' <\/span >');
                                }
                            });

                        });
                        $(".Pro_Detail_Image").on('click', function (e) {
                            var url = '';
                            url += $(this).attr('src');
                            console.log(url);
                            $("#Pro_Detail_Main_Image").attr('src', url);
                        });

        </script>
